body{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
}

.bg-dark{
    background-color: #0B0D17;
    color: #fff;
}

.section-title{
    text-align: center;
    font-weight: 800;
font-size: 48px;
line-height: 64px;
}

.section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    margin: 80px 0;
    gap: 16px;
    /* flex-direction: column; */
}

.row-3 .col{
    width: 33.333%;
}

.row-2 .col{
    width: 50%;
}

.bg-purple{
    background-color: purple;
    color: white;
}

.bg-yellow{
    background-color: yellow;
}

.bg-blue{
    background-color: blue;
}

.box{
    padding: 16px;
    text-align: center;
}

.box p{
    margin: 64px 0;
    line-height: 36px;
}

.btn{
    text-decoration: none;
    border: #fff solid 1px;
    padding: 12px 20px;
    color: #fff;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}
.btn:hover{
    background-color: #4d4f56;
}

.text-center{
    text-align: center;
}